* {
    margin: 0;
    padding: 0
}
body {
    background-color :cornflowerblue;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.game {
    height: 60vmin;
    width:  60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border:none ;
    font-size: 5rem;
    font-family :sans-serif;
    color: red;
    background-color: darkgray;

}
#reset {
    height: 40px;
    width: 100px;
    background-color: rgb(130, 126, 126);
    color: white; 
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
}  
#msg {
    color: cornsilk;
    font-size: 2rem;
    margin-top: 20px;
}
h1 {
    margin-top: 20px;
}
.hide {
    display: none;
}
#newgamebtn {
    height: 40px;
    width: 100px;
    background-color: rgb(130, 126, 126);
    color: white; 
    border-radius: 0.5rem;
    font-size: 1.1rem;
    border: none;
    margin-top: 20px;
}